.generalOfferSugar{
    background-color: #f5f5f5;
    height: 60px;
    font-size: 32px;
    margin: auto;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.generalOffersSugarTemplates{
    display: grid;
    /* position: relative; */
    height: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.generalOffersSugarTemplates>div>img{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.couponDetailsSugar{
    background-image: url("https://in.sugarcosmetics.com/blackRibbon.png");
    color: white;
    background-size: 25% 20px;
    background-repeat: no-repeat;
    background-position:100%;
    justify-content:flex-end;
    object-fit: contain;
    text-align: right;
    margin-top: -4px;
}

