/* .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  } */

*{
  text-align: center;
  background-color: #f5f5f5;
}  
  .img{
    width:100%;
    height: 370px;
    cursor: pointer;
  }
  .img1{
    width:100%;
    height: 100%;
  }
  .Refer{
    font-weight: 400;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;;
  }
  .imgs{
      width: 100%;
      height: 330px;
  }
  .imgs1{
    width: 93%;
    height: 100%;
  }
  .frame{
    width: 100%;
    height: 420px;
}
.img2{
  width: 100%;
  height: 330px;
  display: flex;
  margin-left: 10px;
  
}

.box{
  width: 95%;
  /* border: 1px solid red; */
  cursor: pointer;
 
}
.img3{
  width: 95%;
  height: 90%;
}
