/* .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  } */

*{
  /* text-align: center; */
  background-color: #f5f5f5;
}  
  .img{
    width:100%;
    height: 370px;
    cursor: pointer;
  }
  .img1{
    width:100%;
    height: 100%;
  }
  .Refer{
    font-weight: 400;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
  }
  .imgs{
      width: 100%;
      height: 330px;
      text-align: center; 
  }
  .imgs1{
    width: 93%;
    height: 100%;
  }
  .frame{
    width: 100%;
    height: 420px;
    text-align: center; 
}
.img2{
  width: 100%;
  height: 330px;
  display: flex;
  margin-left: 10px;
  
}

.box{
  width: 95%;
  /* border: 1px solid red; */
  cursor: pointer;
 
}
.img3{
  width: 95%;
  height: 90%;
}
#ds{
  /* border: 1px solid red; */
  height: 400px;
  display: flex;
  justify-content: space-around;
}
#fr{
  border-radius: 25px;
}
#sl{
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
}
#ii{
  height: 75%;
}
/* .gs1{
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;

}
.link{
  color: inherit;
  text-decoration: none;
}
.link:hover{
  color: black;
} */
